{
	"tabWidth": 2,
	"useTabs": false,
	"singleQuote": false,
	"endOfLine": "lf",
	"semi": true,
	"htmlWhitespaceSensitivity": "css",
	"trailingComma": "es5",
	"jsxSingleQuote": true,
	"bracketSpacing": true
}