@use "vars" as *;

%border-radius {
	border-radius: $border-radius;
}

%border {
	border: $border;
}

%bordered {
	@extend %border !optional;
	@extend %border-radius !optional;
}

%colorized {
	background-color: rgba($light-color, 0.025);
}
