@use "../config/vars" as *;
@use "../config/placeholders" as *;

.error-section {
	background: rgb(228, 83, 83);
	border: 2px solid $danger-color;
	margin: 0 auto;
	width: 100%;
	@extend %border-radius !optional;

	display: none;

	@media (min-width: 500px) {
		width: 450px;
	}

	&-title {
		text-align: center;
		font-weight: 600;
	}
}
