@use "../config/vars" as *;

.saved-content {

    &__item {
        max-width: $max-width;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $unit-gap;
        border: $border;
        border-radius: $border-radius;
    }

    &__link {
        display: block;
        padding: $unit-gap;
    }

    &__link:hover {
        background-color: $light-color-with-alpha;
    }
}